{% extends "base.html" %}

{% block content %}
<div class="contacts-page">

    <!-- Левая часть -->
    <div class="contacts-left">

        <div class="contact-item">
            <img src="/static/images/phone.png">
            <span>+7 (983) 202 62 04</span>
        </div>

        <div class="contact-item">
            <img src="/static/images/email.png">
            <span>yevgeniy_m16@mail.ru</span>
        </div>

        <div class="contact-item">
            <img src="/static/images/placeholder.png">
            <span>г. Красноярск, ул. 9 мая 21А</span>
        </div>

    </div>

    <!-- Правая часть (форма) -->
    <div class="contacts-right">
        <form method="POST" class="contact-form">

            <textarea name="question" placeholder="Ваш вопрос:" required></textarea>

            <input type="email" name="email" placeholder="email" required>

            <input type="text" name="phone" placeholder="Телефон для связи:" required>

            <button type="submit" class="btn-primary">
                ЗАДАТЬ ВОПРОС
            </button>

        </form>
    </div>

</div>
{% endblock %}