{% extends "base.html" %}

{% block content %}

<!-- СЕКЦИЯ 1 -->
<div class="service-section light">

    <div class="service-content">
        <div class="service-text">
            <h2>Коронки и мосты</h2>
                <p class="service-subtext">
                Диоксид циркония (ZrO2) — современный стоматологический 
                материал ,который широко применяется для изготовления 
                различных конструкций.
            </p>
                <p class="service-subtext">
                Область применения диоксида циркония различна: используестся 
                как для изготовления одиночных керамических коронок, так и 
                для мостов любого размера фронтальной и жевательной группы.
            </p>
                <p class="service-subtext">
                При изготовлении каркаса применяется технология CAD\CAM.
                При производстве безметалловых коронок из диоксида циркония 
                используются современные компьютерные технологии.
            </p>
            </h2>
        </div>

        <div class="service-images">
            <img src="/static/images/services.jpg">
            <img src="/static/images/services1.jpg">
        </div>
    </div>

    <div class="service-buttons">
        <a href="/contacts" class="btn-primary">СВЯЗАТЬСЯ С НАМИ</a>
        <a href="/price" class="btn-primary">УЗНАТЬ ЦЕНЫ</a>
    </div>

</div>

<!-- СЕКЦИЯ 2 -->
<div class="service-section dark">

    <div class="service-content">
        <div class="service-text">
            <h2>Виниры и окклюзионные вкладки Емах:</h2>
                <p class="service-subtext">
                Емах зуботехнический материал, который полностью передает 
                всю красоту естественных зубов.</p>
                <p class="service-subtext">
                Высокие оптико-механические свойства этого материала,
                а так же разнообразная гамма цветов позволяют решать большинство 
                задач современной эстетической стоматологии.</p>
                <p class="service-subtext">
                Протезирование вкладками Емах все больше и больше набирает популярность, 
                вытесняя стандартное восстановление тканей зуба различными
                пломбировочными материалами, так как, в сравнении с последними, 
                окклюзионная вкладка имеет повышенную износостойкость, более точно 
                восстановленную окклюзионную поверхность, плотный апроксимальный 
                контакт, а также точное соответствие цвета.
                </p>
        </div>

        <div class="service-images">
            <img src="/static/images/services2.jpg">
            <img src="/static/images/services3.jpg">
        </div>
    </div>

    <div class="service-buttons">
        <a href="/contacts" class="btn-primary">СВЯЗАТЬСЯ С НАМИ</a>
        <a href="/price" class="btn-primary">УЗНАТЬ ЦЕНЫ</a>
    </div>

</div>

<!-- СЕКЦИЯ 3 -->
<div class="service-section light">

    <div class="service-content">
        <div class="service-text">
            <h2>Вкладки СоСr и абатменты:</h2>
                <p class="service-subtext">
                    Индивидуальные абатменты на ZrO2 применяются
                    в случаях дефицита места с вестибулярной стороны,
                    а также когда нет возможности задать достаточную толщину 
                    керамикой не нарушая анатомическую форму зуба. Основная 
                    задача — скрыть металлический цвет обычного абатмента, 
                    который из глубины дает серый оттенок. Изготавливаются 
                    методом CAD\CAM фрезеровки c вклейкой титанового основания.
                </p>
                <p class="service-subtext">
                    Вкладки из кобальто-хромового сплава используются для 
                    восстановления культи зуба и увеличения прочности всей 
                    несъемной конструкции протеза.
                </p>
                <p class="service-subtext">
                    Также в New Smile LAB. можно изготовить культевые вкладки из 
                    циркония, чтобы получить итоговую работу с высокими 
                    оптическими свойствами.
                </p>
        </div>

        <div class="service-images">
            <img src="/static/images/services5.jpg">
            <img src="/static/images/services6.jpg">
        </div>
    </div>

    <div class="service-buttons">
        <a href="/contacts" class="btn-primary">СВЯЗАТЬСЯ С НАМИ</a>
        <a href="/price" class="btn-primary">УЗНАТЬ ЦЕНЫ</a>
    </div>

</div>

{% endblock %}